<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8" />
  <title>Welcome to Image Processing API</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="stylesheet" href="" />
  <style></style>
  <script src=""></script>
  <body>
    <h2>Here is the gateway to the image processing api</h2>
  </body>
</html>
